[Desktop Entry]
Type=Application
Name=Discord
Comment=Discord
Icon=/home/denis/Pictures/Discord.jpg
Exec= /home/denis/code/Discord/Discord
Terminal=false
Catagories=Work
