[Desktop Entry]
Type=Application
Name=Postman
Comment=Postman
Icon=/home/denis/Icons/postman-icon.svg
Exec=/home/denis/code/Postman/Postman
Terminal=false
Categories=Work
